<h1><a href="/win-penny-auctions.html">Win Penny Auctions</a></h1>

<h2>Penny Auction FAQs</h2>

<h3>Are penny auctions / pay to bid sites a scam?</h3>

<p>
Usually no. At least <a href="http://click.linksynergy.com/fs-bin/click?id=U0BEgoGrFzE&offerid=201595.10000058&type=1&subid=0&LSNSUBSITE=subsite">Beezid.com</a> and MadBid are not. I have won a lot of products from them and also used the buy it now option for many products. I would recommend you go through both sites. Since auctions start at 0.00, with every bid you place, the price goes up by 0.01. However, you have to remember that you pay to buy those bids. You can always accumulate free bids but those won't account for most of the bids you place.
</p>

<h3>Are pay to bid auction sites like MadBid considered gambling?</h3>

<p>Contrary to popular belief, they are not. The site makes money per bid placed. Each bid comprises a set of credits. Credits have a value (or can be free) based on the package purchased. Typically a bid package would cost 27.99 for 275 credits on MadBid. Or, if you decide to sign up right now, you can get 550 credits for £27.99! That is a massive double up bonus offer.
</p>

<h3>Should I do some research / collect information first before bidding?</h3>

<p>Absolutely yes, it helps if you know the complete history of the particular auction. You need to analyse when did the auction start, how many credits you placed, the users bidding on it etc. Most new users start out by bidding on an iPhone or any other Apple product. Try on bid package auctions first. Do not pay for them straight away and you will have your winning limits preserved for a while. Pay for them in a day or two.</p>



<h3>Do ordinary people really win?</h3>

<p>Yes! Ordinary people WIN! Anyone can win. The only question is are you willing to spend time and a little bit of your money smartly to become a winner on pay to bid sites. Checkout some of the statistics from MadBid's site. They ships at least 5 brand new iPhones a week and 100s of other products including Apple iMac, Amazon Kindle, Samsung Galaxy, Dell Laptop, Acer Ultrabook, LG Flat Screen HD TV and more. Check some of these guys out, they have won a brand new Mini for £6.00! That is a bargain hard to beat anywhere on this planet. Or checkout this video from the BBC, needless to say, people are winning on pay to bid auction sites like <a href="http://click.linksynergy.com/fs-bin/click?id=U0BEgoGrFzE&offerid=201595.10000058&type=1&subid=0&LSNSUBSITE=subsite">Beezid.com</a> or MadBid!</p>


<h3>Whom do you recommend amongst all pay to bid sites and why?</h3>

<p>I can't give you my personal opinion here. You can however check the statistics page where I have compared few of the biggest penny auctions around at the moment. I would recommend using a site that gives you a buy option though. This way you can minimise your risk</p>


<h3>Are these products refurbished?</h3>

<p>No, the products you win in auctions are absolutely brand new, packaged, with waranty and all! What else do you need?</p>