<h1><a href="/win-penny-auctions.html">Win Penny Auctions</a></h1>

<h2>Bidding Strategies</h2>
<p>
Welcome back! The good news is that you have a number of pay to bid auction sites springing up everyday and, what works on one site works on the others too. The bad news is, you have a number of these that are out to scam you and con you if you are not careful. To make life easier for the average user, I have created a report section where I hand pick online auction sites for new users to try. I also discuss the highs and lows of various online auction sites in this section. Since everything is manually checked, it takes some time for me to produce a report. Be sure to signup for my newsletter updates so that I can send you important information on how to win online auctions.
</p>

<h6>
Don't skip through the intro, every word here is important if you want to win online auctions. I would recommend you to go through this if you want to become an online auction king. 
</h6>

<h6>
Understanding the average Joe
</h6>
<p>
A normal user who lands at an online auction site like MadBid is looking to win an iPhone for 1p. Ain't gonna happen unless it was the end of the world! But why? Generally users who land up on MadBid are people who have been searching over the Internet to buy a cheap iPhone instantly. Yes, we all want one of these but let us build our capital first. It is the same as money, if you spend what you don't have, you will help make someone else richer. The discipline is to have enough to be able to win the product you want. On an average, a user on MadBid is in competition with some pretty big users, and they will try and out muscle you. To match them, you must have enough credits in your account. Even if it is not a lot, it should be enough to help you win provided you follow the steps below.
</p>


<ol>
	<li>Once you have registered, you need to buy a bid package to start. On MadBid you get a starter offer of double credits if you make a purchase withing the first 24 hours.On <a href="http://click.linksynergy.com/fs-bin/click?id=U0BEgoGrFzE&offerid=201595.10000058&type=1&subid=0&LSNSUBSITE=subsite">Beezid.com</a>, you don't have any special offers but you can use BONUS200 to get 200% extra bids.</li>
	
	<li>It is always worth buying credits for £30.00 or above. It is a safe option and assuming you are doing it within the first 24 hours of signing up, you are going to get 200% extra bids FREE or 100% in the case of MadBid!! That is a bargain.</li>
	
	<li>WARNING!! Now here is the sneaky bit, on the payment details page for MadBid, remember to UNCHECK both the tick boxes (the one for saving your card information and the second one for Rapid Recharge). The Rapid Recharge features allows you to instantly topup your account when you are bidding on auctions when your credit falls below 20. It is limited to £100 a day but can leave you with a hole in your pocket if you are not careful.</li>
	
	<li>On the confirmation of your payment page, MadBid provides a link to start bidding on auctions. This should take you to the Guided Auctions page on MadBid. I think this is a good feature showing users the different options they have. However read the next step before you bid on anything.</li>
	
	<li>Switch to easy view, this will show you all the available auctions on the site. Also keep a track of the time when you bid on auctions. Usually early mornings and Fridays are less busy and you are more likely to win.</li>
	
	<li>Remember to Bid only on bid packages at the begining. <a href="http://click.linksynergy.com/fs-bin/click?id=U0BEgoGrFzE&offerid=201595.10000058&type=1&subid=0&LSNSUBSITE=subsite">Beezid.com</a> offers 30 bid pack cherry auctions and if you are careful, you could win this for $0.03. On MadBid you get a choice of 50 / 75 or 80 MadBid credits. 
	This is the most important step: start with the 75 MadBid credits and win as many as you can. MadBid allows you upto 3 wins a day or 12 in a rolling 30 day period. This will give you enough credits in your account to start with. Try to win at least 20 of these. You should be able to get them for under £0.05. Do not waste your time on bidding for the microwavable toys or the other low value products, you will win them but will kill your winning limits for the month and day.</li>

	<li>Accumulate free credits. Both <a href="http://click.linksynergy.com/fs-bin/click?id=U0BEgoGrFzE&offerid=201595.10000058&type=1&subid=0&LSNSUBSITE=subsite">Beezid.com</a> and MadBid give you a chance to gain free credits. MadBid allows you to collect daily free credits whereas Bezzid awards 10 free bids for every user you recommend.</li>
	
	<li>Keep track of the money you have spent on buying bids and also try to reach 50% of the price of the product you are trying to win. Example: if you are looking to win an iphone priced at £500, your goal is to reach credits worth £250.</li>
	
	<li>Carefully monitor the products and keep track of the closing prices of auctions. The catch is to also record the time these auctions start and close. Auctions running mid-week tend to close cheaply. Also mid afternoons and early mornings are good times to bid. Never bid on a rainy day! This tip alone will save you a massive hassle.</li>
	
	<li>Once you know the closing prices of products, start bidding when the price reaches 80% of the winning bid value</li>
	
	<li>Wait till the end moment to place your bid</li>
	
	<li>Finally, keep trying smartly!</li>
	
</ol>